.container-welcome{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}
.container-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    margin: 20vh 10vh;
}
.background{
    min-width: 50%;
    width: 100%;
    height: 50%;
    z-index: 100;
}
a{
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}
@media(max-width: 500px){
    .container-welcome{
        flex-direction: column;
    }
    .container-text{
        position: relative;
        height: 150px;
        width: 100%;
        margin: 0;
        background-color: #607D8B;
    }
}