.container-video{
    display: flex;
    flex-direction: column;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center ;
}

@media(max-width: 800px){
    .container-video{
        width: 100%;
    }
}