.container-music-player{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media(max-width: 800px){
    .container-music-player{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}